<!-- BEGIN Application Container used to separate the app from the modal  -->
<div>

  <!--
    * Do not use aria-hidden="false" due to lack of support. 
    * See https://www.w3.org/TR/wai-aria-1.1/#aria-hidden
    * Use boolean true or empty string
  -->
<h1>Complete this modal</h1>
<a href="#" (click)="showModal($event)" #showModalLink>Modal</a>


</div>
<!-- END Application Container used to separate the app from the modal  -->

<app-modal 
  *ngIf="modalShouldBeVisible" 
  (modalCloseButtonActivated)="closeModal()"
>
</app-modal>

